<?xml version="1.0"?>
<model>
  <name>3DR Iris with bowl</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_with_bowl.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a bowl on top to catch the ball. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
